*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

body{
    height: 100%;
}

#control-panel{
    background: #66D;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#changeButtons{
    width: 100%;
    display: flex;
}

#changeButtons button{
    width: 100%;
    height: 30px;
}

#algorithms-topic{
    margin: 10px 0px;
    display: flex;
}

#switcher{
    text-decoration: none;
    height: 100vw;
    width: 100%;
    background-color: rgb(129, 129, 222);
    display: flex;
    justify-content: center;
    text-align: center;
}

#switcher div{
    width: 100%;
    height: 50px;
}

#switcher div a{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    border: solid 1px #000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}