*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    touch-action: none;
}

body{
    height: 100%;
    overflow: hidden;
}

#control-panel{
    background: #66D;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    height: 30px;
    margin: 5px 0px;
}